body {
	background-color: #222;
	font-family:'Roboto',sans-serif;
	text-align:center;
}

.SiteTitle {
	color: #fff;	
}

.search {
	flex: 1;
	margin: auto;
}

.container {
	background: #DDD;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
	grid-auto-flow: dense;
}

.movie {
	diplay: block;
	width: 300px;
	margin: 0px auto;
	background: white;
	box-shadow: 0px 5px 20px #999;
	box-sizing: border-box;
	border-radius: 24px;
}

.movie:hover img {
	filter: grayscale(0);
}

.Poster {
	height: 250px;
	width: 200px;
	position: relative;
	overflow: hidden;
	filter: grayscale(1);
	transition-property: filter;
	transition-duration: .3s;
	transition-timing-function: ease;
}

.Poster:hover {
	filter: grayscale(0);
}

.year {
	color: #777;
}
